:root {
  scroll-behavior: smooth;
  /* Background colors */
  --l1-bg-color: #282828;
  --l2-bg-color: #32302f;

  /* Text Colors */
  --l1-drk-txt-color: #3c3836;
  --l1-lght-txt-color: #d5c4a1;

  /* Highlight Colors */
  --l1-hlt-color-red: #cc241d;
  --l1-hlt-color-yellow: #b57614;
  --l1-btn-border-color: #767676;
  --l2-btn-border-color: #212121;

  /* Code Colors */
  --l1-code-color: #b8bb26;
  --l1-list-color: #8ec07c;
  --l1-link-color: #83a598;

  --text-font-size: 23px;
  letter-spacing: 1.3px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Custom scrollbar design */
::-webkit-scrollbar {
  background: var(--l2-bg-color);
}

::-webkit-scrollbar-thumb {
  background: #7c6f64;
}

/* Custom Text Selection Color */

::selection {
  background: #6b660c;
}

a {
  color: var(--l1-link-color);
}

b {
  color: var(--l1-hlt-color-red);
}

body {
  background: var(--l1-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-bar {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 5px 10px;
  padding: 5px;
}

.nav-bar li a {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  background: var(--l2-bg-color);
  color: var(--l1-lght-txt-color);
  font-size: var(--text-font-size);
  text-decoration: none;
  margin: 0 10px;
  padding: 2px 10px;

  border-left: 2px solid var(--l1-btn-border-color);
  border-top: 2px solid var(--l1-btn-border-color);
  border-right: 2px solid var(--l2-btn-border-color);
  border-bottom: 2px solid var(--l2-btn-border-color);
}

.nav-bar li a:hover {
  cursor: pointer;
  background: var(--l1-lght-txt-color);
  color: var(--l1-drk-txt-color);
}

.intro-ctn {
  width: 500px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
}

article {
  font-size: var(--text-font-size);
  color: var(--l1-lght-txt-color);
  max-width: 50%;
}

section ul {
  margin: 0;
  font-size: var(--text-font-size);
}

li a {
  color: var(--l1-list-color);
  font-size: inherit;
}

section p {
  line-height: 30px;
}

table,
tr,
td {
  border: 2px solid var(--l1-drk-txt-color);
  border-collapse: collapse;
}

td {
  padding: 5px 10px;
}

td img {
  width: 200px;
  height: 200px;
}
/* THESE COME LAST FOR DESIGNING */
@media only screen and (max-device-width: 790px) {
  /* styles for mobile browsers smaller than 480px; (iPhone) */
  .projects-ctn {
    font-size: 45px;
  }
}

@media only screen and (max-device-width: 480px) {
}
